site_name: IFT2015 - Structures de données
site_description: Site des démonstrations du cours IFT2015 - Structures de données
site_author: Zakary Gaillard-Duchassin
site_url: https://zgaillard.github.io/ift2015-demos-web/

repo_name: ift2015-demos-web
repo_url: https://github.com/ZGaillard/ift2015-demos-web

theme:
  name: material
  language: fr
  palette:
    - scheme: default
      primary: blue
      accent: light blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: blue
      accent: light blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.highlight
    - search.share
    - content.code.copy
    - content.action.edit
    - content.action.view
  icon:
    repo: fontawesome/brands/github

nav:
  - Accueil: index.md
  - Exercices: exercices/index.md
  - Corrections: corrections/index.md
  - Travaux pratiques: tp/index.md



markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html
  - tables
  - toc:
      permalink: true

plugins:
  - search:
      lang: fr

extra_css:
  - stylesheets/extra.css

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/zakary
    - icon: fontawesome/solid/envelope
      link: mailto:zakary.gaillard-duchassin@umontreal.ca

copyright: |
  &copy; 2025 Zakary Gaillard-Duchassin - Université de Montréal
